html {
  font-size: 15px;
  --background-gradient: linear-gradient(to right, #b06ab3, #4568dc);
  --background-webkit-gradient: -webkit-linear-gradient(
    to right,
    #b06ab3,
    #4568dc
  );

  --primary-color: oldlace;
  --accent-color: yellow;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: var(
    --background-webkit-gradient
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: var(
    --background-gradient
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Dela Gothic One', cursive;
}

.container {
  margin-inline: auto;
  width: 90vw;
  height: 90vh;
  margin-top: 2rem;
}

.container--flex {
  display: flex;
  flex-direction: column;
  width: 100%;
}

button:hover{
  cursor: pointer;
}