.container--flex-bottom {
  width: 100%;
  display: flex;
  align-items: center;
}

.container--flex-3 {
  margin: 2rem;
  height: 33vh;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 0.4rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 2rem;
  overflow-y: scroll;
}
