.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

h3 {
  letter-spacing: 3px;
  color: lemonchiffon;
  font-size: clamp(0.7rem, 1.5vw, 1.5em);
}

.list-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.list-container input {
  border: none;
  outline: none;
  background: transparent;
  width: 80%;
  margin-block: 0.2rem;
  padding: 0.5rem;
  color: black;
  border-radius: 0.2rem;
}

.list-container input::placeholder {
  color: rgb(26, 24, 24);
  word-wrap: wrap;
  letter-spacing: 1.5px;
  font-size: clamp(0.8rem, 1.1vw, 1.1rem);
  transition: all 0.5s;
}

.input-focus-style {
  background: white !important;
  transition: all 1s;
}

.list-container button:nth-child(2) {
  margin-inline: 2rem;
  padding-inline: 0.4rem;
  padding-block: 0.2rem;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  background-color: var(--accent-color);
}

.list-container button:nth-child(3) {
  border: none;
  outline: none;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  padding-inline: 0.4rem;
  padding-block: 0.2rem;
  background-color: yellowgreen;
}
